.backButton{
    font-family: 'Open Sans', sans-serif;
    background-color: #E07050;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    border: 0.07rem solid black;
    padding: 0.2rem;
}