$icon-color: #ee9796;
$bg-color: white;
$grey-color: grey;
$sidebar-color: #E07050;
$white-color: whitesmoke;
$font-color:#073453;

body{
  margin: 0;
}

#bg-bar{
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  background-color: $sidebar-color;
}

.login-box{
  margin: 0 auto;
  height: auto;
  width: 55%;
  text-align: center;
  padding-top: 12rem;
  background: url(../../Assets/images/EisenVault-Lite-logo.png) 
  $white-color no-repeat;
  background-position: top;
  background-size: 20rem 10rem;

  & input {
      margin-bottom: 2.2rem;
      width: 70%;
      height: 2rem;
      font-size: 18px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #747272;
  }

  & button{
      background-color: $sidebar-color;
      width: 70%;
      padding: 1rem 0; 
      color: white;
  }

  & #btn_login{
      margin-bottom: 1rem;
  }

  & #btn_forgotPassword{
      margin-bottom: 2rem;
  }
}