$icon-color: #ee9796;
$bg-color: white;
$grey-color: grey;
$sidebar-color: #E07050;
$white-color: whitesmoke;
$font-color:#073453;

 body{
   margin: 0;
 } 
 
#bg-bar{
  height: 1000px;
  width: 100%;
  padding: 3rem 0;
  background-color: $sidebar-color;
}

@media (min-height: 600px){
#bg-bar{
  height: 550px;
}
}

@media(min-height: 768px){
  #bg-bar{
    height: 670px;
  }
}

@media(min-height: 900px){
  #bg-bar{
    padding: 7rem 0;
    height: 677px;
  }
}

@media(min-height: 950px){
  #bg-bar{
    padding: 8rem 0;
    height: 694px;
  }
}

@media (min-height: 1050px){
  #bg-bar{
    padding: 8rem 0;
    height: 794px;
  }
  }

  @media (min-height: 1080px){
    #bg-bar{
      padding: 10rem 0;
      height: 760px;
    }
    }

  @media (min-height: 1120px){
    #bg-bar{
      padding: 10rem 0;
      height: 800px;
    }
    }

  @media (min-height: 1200px){
      #bg-bar{
        padding: 10rem 0;
        height: 880px;
      }
      }

.login-box{
  overflow: hidden;
  margin: 0 auto;
  height: auto;
  width: 65%;
  text-align: center;
  padding-top: 12rem;
  background: url(../../Assets/images/EisenVault-Lite-logo.png) 
  $white-color no-repeat;
  background-position: top;
  background-size: 20rem 10rem;

  & input {
      margin-bottom: 2.2rem;
      width: 70%;
      height: 2rem;
      font-size: 18px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #747272;
  }

  & button{
      background-color: $sidebar-color;
      width: 70%;
      padding: 1rem 0; 
      color: white;
  }

  & #btn_login{
      margin-bottom: 1rem;
  }

  & #btn_forgotPassword{
      margin-bottom: 2rem;
  }
}